<h1>Show Revenue</h1>

<ul>

  <li>
    <strong>Year:</strong>
    <%= @revenue.year %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @revenue.amount %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.revenue_path(@conn, :edit, @revenue) %></span> |
<span><%= link "Back", to: Routes.revenue_path(@conn, :index) %></span>
